* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #212121, #212121 69%, white 50%);
  background-size: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Helvetica;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

h1 {
  color: white;
  font-weight: 100;
}

h3 {
  color: white;
  font-size: 25px;
  margin-top: 10px;
}

h4 {
  color: #7a7a7a;
  font-size: 8px;
  margin-top: -15px;
}

.subhead {
  margin-top: 2px;
  font-size: 13px;
  color: aqua;
}
.initial-currency,
.end-currency {
  color: white;
  margin: 20px;
  width: 80px;
  border-bottom: 1px solid white;
}

.initial-currency input,
.end-currency input {
  border: none;
  background-color: transparent;
  font-size: 40px;
  padding: 12px 0;
  text-align: right;
  width: 80px;
  color: white;
}

.initial-currency input:focus,
.end-currency input:focus {
  outline: none;
}

.initial-currency-type,
.end-currency-type {
  color: white;
  border: none;
  background-color: transparent;
  width: 85px;
  font-size: 25px;
}

.initial-currency-type select:focus,
.end-currency-type select:focus {
  outline: none;
}

button {
  background-color: white;
  border: 4px solid #212121;
  border-radius: 10px;
  font-size: 16px;
  margin-top: -5px;
  width: 200px;
  height: 50px;
  margin: 25px;
}

button:hover {
  color: aqua;
  border-color: aqua;
}
.end-currency {
  color: black;
  border-bottom: 1px solid black;
}

.end-amount {
  display: flex;
  justify-content: flex-end;
  color: black;
  margin-top: 0px;
  height: 50px;
  width: 80px;
  font-size: 30px;
  text-align: right;
}

.end-currency-type {
  color: black;
}

select:focus {
  outline: none;
}
